.Youtube-Player-Wrapper {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    padding: 1.5rem;
    background: rgb(0, 0, 0, 0.7);
}

.Youtube-Player {
    pointer-events: none;
    padding-bottom: 0.5rem;
}

.Youtube-Player-Debug {
    padding-bottom: 0.5rem;
}

.Video-Banner-Title {
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 800px) {
    .Youtube-Player {
        height: 0;
        width: 0;
    }
    .Youtube-Player-Debug {
        height: 0;
        width: 0;
    }

    .Youtube-Player-Wrapper {
        padding: 1.5rem;
        margin-left: 0; 
        background: rgb(0, 0, 0, 0.7);
    }

    .Video-Banner-Title {
        font-size: 1.3rem;
        margin-top: -2.2rem;
    }
}
