.Youtube-Player-Wrapper {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    padding: 1.5rem;
    background: rgb(0, 0, 0, 0.7);
}

.Youtube-Player {
    pointer-events: none;
    padding-bottom: 0.5rem;
}

.Youtube-Player-Debug {
    padding-bottom: 0.5rem;
}

.Video-Banner-Title {
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.Suggested-User {
    color: #00e9de;
}

.Skip-Video-Button {
    margin-left: 2rem;
}

.Skip-Icon {
    margin-left: 0.2rem;
}