.lobby-controls {
    padding: 0.7rem;
    margin: auto;
    width: 15rem;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 0.8rem; 
}

.thumbs-up-section, .thumbs-down-section {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.thumbs-up-section {
    margin-right: 0.8rem
}

.thumbs-down-section {
    margin-left: 0.8rem;
}

.thumbs-up-button, .thumbs-down-button {
    background: #222222;
    border: none;
    border-radius: 1.6rem;
    color: #00e9de;
}

.thumbs-up-button:hover,
.thumbs-down-button:hover,
.thumbs-up-button:focus,
.thumbs-down-button:focus
{
    background: #222222;
    color: white;
}