.suggested-user {
    color: #00e9de;
}

.control-buttons {
    margin-top: 1rem;

}

.skip-video-button{
    margin-right: 1.5rem;
    padding: 0.5rem;
    background: none;
    border: solid #00e9de 1px;
    color: #00e9de;
}

.skip-video-button:hover, .skip-video-button:focus {
    background: none;
    border: solid #00e9de 1px;
    color: white;
}

.volume-buttons, .mute-button {
    background: none;
    border: solid #00e9de 1px;
    color: #00e9de;
}

.volume-buttons:hover, .volume-buttons:focus, .mute-button:hover, .mute-button:focus {
    background: none;
    border: solid #00e9de 1px;
    color: white;
}

.mute-button {
    border-radius: 3px 0px 0px 3px;
}

.volume-buttons {
    border-radius: 0;
    width: 4.5rem;
}

.skip-icon {
    margin-left: 0.2rem;
}

@media only screen and (max-width: 800px) {
    .volume-buttons, .skip-video-button, .mute-button {
        font-size: 1rem;
    }
}