.video-search-section {
    margin: auto;
    max-width: 105rem;
}

.search-bar-wrapper {
    padding: 0.8rem;
}

.Search-Bar {
    height: 1.6rem;
    padding: 1.6rem;
    border-radius: 0.3rem;
}

.video-suggestions {
    padding: 1rem;
    padding-top: 0; 
    background: #222;
}

.Search-Video-Prompt-Container {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.Search-Video-Prompt-Suffix {
    color: #00e9de;
    font-family: 'Roboto', sans-serif;
}

.Head-Phone-Icon {
    margin-top: 2rem;
    font-size: 8.5rem;
}