.Search-Bar-Container {
    margin: auto;
    max-width: 120rem;
}

.Search-Bar {
    height: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
}

.Video-Suggestions {
    padding: 1rem;
    background: #222;
}

.Search-Video-Prompt-Container {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.Search-Video-Prompt-Suffix {
    color: #00e9de;
    font-family: 'Roboto', sans-serif;
}

.Head-Phone-Icon {
    margin-top: 2rem;
    font-size: 8.5rem;
}