.Playlist-Section {
    padding: 1rem;
    background: #222222;
    font-family: 'Roboto', sans-serif;
}

.Playlist-Header {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.Video-Playlist {
    list-style: none;
    padding: 0;
    padding-bottom: 0;
    height: 25rem;
    overflow: auto;
    width: 45rem;
}

/* Prettier scrollbar, courtesy of: https://codepen.io/devstreak/pen/dMYgeO */
.Video-Playlist::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.Video-Playlist::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.Video-Playlist::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.Music-Icon {
    margin-right: 0.8rem; 
}

.Playlist-Item-Wrapper:first-child {
    color: #00e9de;
    font-weight: 500;
}

.Playlist-Item-Wrapper {
    color: white;
}

.Playlist-Item {
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Playlist-Item:hover {
    background: rgb(0, 0, 0, 0.7);
}

.seperator {
    margin: 0;
    background: #a59c9c;
}

.Empty-Video-Background {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    width: inherit;
    height: inherit;
}

.No-Video-Text {
    margin: 0;
    font-size: 1.6rem;
}

.Pause-Icon {
    font-size: 5rem;
    padding-bottom: 1.5rem;
}