.App-logo {
    animation: App-logo-spin infinite 15s linear;
    height: 4.5rem;
}

.App-header {
    background-color: #222;
    height: 15rem;
    padding: 1.5rem;
    padding-top: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.App-title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.Now-Playing-Icon {
    margin-right: 1.5rem;
}

.Username-Field {
    color: #00e9de
}