/* Overide bootstrap navbar */

.navbar {
    border-radius: 0;
    border-bottom: 1px solid #a59c9c;
    margin-bottom: 0; 
}

.navbar > .container {
    width: 85%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-inverse .navbar-brand {
    font-weight: 550;
    color: #00e9de;
}

#Users-Nav-Dropdown {
    color: white;
}

.User-Icon { 
    padding: 0.4rem;
    border: 1.5px solid;
    border-radius: 1.5rem;
}

.Username-List-Item {
    padding-left: 1rem;
}