.App-logo {
    animation: App-logo-spin infinite 15s linear;
    height: 4rem;
}

.App-header {
    background-color: #222;
    height: 15rem;
    padding: 1.5rem;
    padding-top: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.song-heading, .welcome-heading {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.username-field {
    color: #00e9de
}

@media only screen and (max-width: 800px) {
    .App-logo {
       display: none;
    }

    .song-heading {
        margin-top: 0;
        font-size: 1.3rem;
    }

    .welcome-heading {  
        font-size: 1.2rem;
    }
    
    .App-header {
        height: 9rem;
    }
}