.application-header {
    background-color: #222;
    padding: 0.8rem;
    padding-top: 0.8rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.welcome-heading {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.username-field {
    color: #00e9de
}

@media only screen and (max-width: 800px) {
    .welcome-heading {  
        font-size: 1.2rem;
    }
}