.search-bar-wrapper {
    margin-top: 0.5rem;
    padding: 0.8rem;
    padding-left: 0;
    padding-right: 0; 
}

.search-bar {
    height: 1.6rem;
    padding: 1.6rem;
    border-radius: 0.3rem;
}

.video-suggestions {
    padding: 1rem;
    padding-top: 0; 
    background: #222;
}

@media only screen and (max-width: 800px) {
    .search-bar {
        height: 1rem;
        padding: 1.3rem;
        border-radius: 0.2rem;
    }

    .video-search-section {
        padding: 0.5rem;
        padding-top: 0;
    }
}